body{
    background-color: #D9D7F1;
    visibility: visible;
    }
    hr{
        border-style: none;
        border-top-style: dotted;
        border-color: #344CB7;
        border-width: 2px;
        width: 100%;
    }
    img{
    height: 20px;
    }
  h1{
      color: #1A374D;
  }
  h3{
      color: #1A374D;
  }
